:root {
    --margin-inline: clamp(1rem, -1.276rem + 11.38vw, 6rem);
}

.body-work {
    &__hero {
        background-color: #B9A48C;
        padding-inline: var(--margin-inline);
        position: relative;
        padding-block: clamp(6rem, 3.269rem + 13.656vw, 12rem) 16rem;;

        &__tag {
            width: clamp(10rem, 0.896rem + 45.519vw, 30rem);

            h1 {
                color: #fff;
                font-size: clamp(1.5rem, 1.045rem + 2.276vw, 2.5rem);
                text-align: center;
                margin-bottom: clamp(2rem, 1.545rem + 2.276vw, 3rem);

                span {
                    font-weight: 700;
                    color: #fff;
                }
            }

            .tertiary_btn {
                color: var(--primary-color);
                font-weight: 700;
                padding: 10px clamp(1.875rem, 1.306rem + 2.845vw, 3.125rem);
                margin: auto;
                font-size: clamp(0.875rem, 0.704rem + 0.853vw, 1.25rem);

                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    width: clamp(0.7rem, 0.472rem + 1.138vw, 1.2rem);
                }
            }
        }

        > img {
            position: absolute;
            width: clamp(18rem, 15.724rem + 11.38vw, 23rem);
            bottom: 0;
            right: clamp(-6rem, -8.731rem + 13.656vw, 0rem);
        }
    }

    &__system {
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 0.545rem + 2.276vw, 2rem);
        margin-inline: var(--margin-inline);
        padding-block: var(--margin-inline);

        &--img {
            img {
                width: clamp(15rem, 11.358rem + 18.208vw, 23rem);
                display: flex;
                margin: auto;
            }
        }

        &--info {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            h3 {
                font-weight: 700;
                letter-spacing: 0.04em;
                line-height: 149.42%;
                font-size: clamp(1rem, 0.772rem + 1.138vw, 1.5rem);
                margin-bottom: 1rem;
            }

            h4 {
                font-size: clamp(0.875rem, 0.704rem + 0.853vw, 1.25rem);
            }

            .bold {
                font-weight: 700;
            }

            .font-style {
                font-family: 'Times New Roman', Times, serif;
                margin-right: 10px;
            }

            button {
                font-size: clamp(0.875rem, 0.704rem + 0.853vw, 1.25rem);
            }
        }
    }

    &__prototype {
        background-color: var(--tertiary-color);
        padding: var(--margin-inline);
        margin-top: 2rem;

        h1 {
            color: var(--primary-color);
            font-size: clamp(2rem, 1.09rem + 4.552vw, 4rem);
            text-align: center;
            margin-bottom: var(--margin-inline);
        }

        &--images {
            display: grid;
            gap: clamp(1rem, 0.09rem + 4.552vw, 3rem);

            img {
                width: clamp(15rem, 11.358rem + 18.208vw, 23rem);
            }

            img:nth-child(2) {
                margin-left: clamp(1.5rem, -4.417rem + 29.587vw, 14.5rem);
            }

            img:nth-child(3) {
                margin-left: clamp(3rem, -8.835rem + 59.175vw, 29rem);
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        --margin-inline: clamp(6rem, 0.667rem + 8.333vw, 14rem);
    }

    .body-work {
        &__hero {
            padding-block: clamp(12rem, 8rem + 6.25vw, 18rem) clamp(16rem, 12.667rem + 5.208vw, 21rem);
            &__tag {
                width: clamp(30rem, 10rem + 31.25vw, 60rem);

                h1 {
                    font-size: clamp(3rem, 1.667rem + 2.083vw, 5rem);
                }
            }
            img {
                right: clamp(0rem, -9.333rem + 14.583vw, 14rem);
                width: clamp(27rem, 21.667rem + 8.333vw, 35rem);
            }
        }

        &__system {
            flex-direction: row;
            align-items: center;
            gap: clamp(2rem, -3.333rem + 8.333vw, 10rem);
            padding-block: clamp(6rem, 2rem + 6.25vw, 12rem);

            &--img {

                img {
                    width: clamp(18rem, 6.667rem + 17.708vw, 35rem);
                }
            }

            &--info {
                h3 {
                    font-size: clamp(1rem, 0.772rem + 1.138vw, 1.5rem);
                }

                h4 {
                    font-size: clamp(0.875rem, 0.704rem + 0.853vw, 1.25rem);
                }
            }

        }

        .info-second {
            flex-direction: row-reverse !important;
        }

        &__prototype {
            h1 {
                font-size: clamp(3rem, 1.667rem + 2.083vw, 5rem);
                margin-bottom: clamp(4rem, 0rem + 6.25vw, 10rem);
            }

            &--images {
                grid-template-columns: repeat(3, 1fr);
                place-items: center;
                margin-bottom: clamp(6rem, 4rem + 3.125vw, 9rem);

                img {
                    width: clamp(15rem, 8.333rem + 10.417vw, 25rem);
                }

                img:nth-child(2) {
                    margin-left: 0 !important;
                    transform: translateY(clamp(3rem, 1rem + 3.125vw, 6rem));;
                }

                img:nth-child(3) {
                    margin-left: 0 !important;
                    transform: translateY(clamp(6rem, 4rem + 3.125vw, 9rem));
                }
            }
        }
    }
}