.container {
  position: relative;
}

.chatbot {
  display: none;
  position: fixed;
  top: 100vh;
  left: 50%;
  transform: translate(-50%);
  height: 70vh;
  width: 100%;
  max-width: 23rem;
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  border: 1px solid var(--tertiary-color);
  box-shadow: -1px -1px 5px 0px var(--primary-color);
}
.chatbot-draggable {
  width: 100px;
  height: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.chatbot-close {
  display: flex;
  justify-content: end;
  padding: 0.5rem 0.7rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background: #000;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  transition: transform 0.5s ease;
  transform: rotate(45deg);
}
.chatbot-close i {
  color: var(--secondary-color);
  font-size: 1.5rem;
}
.chatbot-close i:hover {
  font-size: larger;
}
.chatbot .animate-rotate {
  transform: rotate(0deg);
}

.chatbot-getname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}
.chatbot-getname-input {
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background: transparent;
  padding: 15px;
  font-size: 1rem;
  text-align: center;
}
.chatbot-getname-input::-moz-placeholder {
  color: var(--primary-color);
  opacity: 1;
}
.chatbot-getname-input::placeholder {
  color: var(--primary-color);
  opacity: 1;
}
.chatbot-getname-submit {
  display: none;
  border: none;
  background: transparent;
  font-size: 1rem;
  color: var(--primary-color);
  cursor: pointer;
}
.chatbot-getname-submit:hover {
  transform: scale(0.96);
}

.chatbot-content {
  display: none;
  flex-direction: column;
  gap: 1rem;
}
.chatbot-content-headline {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--accent-color);
  border-radius: 20px 20px 0px 0px;
  border: 1px solid var(--tertiary-color);
  padding: 1rem;
}
.chatbot-content-headline img {
  width: clamp(2rem, 1.759rem + 1.4vw, 4rem);
}
.chatbot-content-headline h4 {
  color: #fff;
  font-weight: bold;
}
.chatbot-content-try {
  text-align: end;
  color: var(--primary-color);
  padding-inline: 1rem;
}
.chatbot-content-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
  transition: width 0.8s ease;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 50vh;
  overflow-y: auto;
}
.chatbot-content-buttons-not-selected {
  display: none;
}
.chatbot-content-buttons-answer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 2px 2px 2px #fff;
  padding: 10px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
}
.chatbot-content-buttons-questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.chatbot-content-buttons-questions-question {
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.75rem;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.chatbot-content-typing {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  margin-left: 1rem;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
}

.chatbot-name {
  color: var(--secondary-color);
  font-weight: bold;
}

.question-selected {
  background-color: var(--tertiary-color) !important;
  color: #000;
  box-shadow: 2px 2px 2px #fff;
  padding: 10px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  text-align: end;
  margin-left: auto;
  display: block !important;
}

.chatbot-ask-more, .chatbot-no-questions {
  text-align: center;
  padding-block-start: 2rem;
  color: var(--primary-color);
}

@media only screen and (min-width: 576px) {
  .chatbot {
    right: 3rem;
    left: unset;
    transform: translate(0);
    max-width: clamp(23rem, 19.516rem + 9.677vw, 35rem);
  }
}/*# sourceMappingURL=chatbot.css.map */