<div class="body-about__hero">
    <img src="./assets/about-me.png" alt="About Me Picture">
    <div>
        <h1>Hi there!</h1>
        <h3>Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis. </h3>
    </div>
</div>
<div class="body-about__mycareer">
    <div class="body-about__mycareer__info">
        <h1>My Career So Far</h1>
        <h3>Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</h3>
    </div>
    <div class="body-about__mycareer__content">
        <span> UI Design </span>
        <span> UX Design </span>
        <span> Prototyping </span>
        <span> HTML/CSS </span>
        <span> API Integration </span>
        <span> Unit Testing </span>
        <span> User Research </span>
        <span> Mobile Development </span>
        <span> Web Development </span>
        <span> Responsive Web Design </span>
        <span> Mobile First Design </span>
    </div>
</div>
<div class="body-about__quote">
    <h1>A designer passionate about creating beautiful user friendly products.</h1>
</div>
<div class="body-about__experiences">
    <h1>Experiences</h1>
    <div class="body-about__experiences--container">
        <div class="body-about__experiences--container-date">
            <h4>2022 <br> present</h4>
        </div>
        <div class="body-about__experiences--container-content">
            <h3>Junior Software Developer</h3>
            <h4>API migration and integration.</h4>
            <h4>Mobile First Design.</h4>
            <h4>Unit testing in C# using NUnit.</h4>
            <h4>Mobile development using Ionic angular framework.</h4>
            <h4>Developed the design and prototype of various projects.</h4>
            <h4>Build applications.</h4>
            <h4>Agile project management.</h4>
        </div>
    </div>
    <div class="body-about__experiences--container">
        <div class="body-about__experiences--container-date">
            <h4>2021</h4>
        </div>
        <div class="body-about__experiences--container-content">
            <h3>Web Developer Intern</h3>
            <h4>Developed a To Do App using HTML and CSS.</h4>
            <h4>Developed a Registration Form and Helpdesk Ticketing System with Vuejs.</h4>
            <h4>Communicate regularly with my supervisors and discuss concerns on the tasks they had given.</h4>
            <h4>Accomplished the tasks given within a time frame.</h4>
        </div>
    </div>
    <div class="body-about__experiences--container">
        <div class="body-about__experiences--container-date">
            <h4>2012 <br> 2016</h4>
        </div>
        <div class="body-about__experiences--container-content">
            <h3>Technical Vocational Course</h3>
            <h4>Web Development using Adobe Dreamweaver.</h4>
            <h4>Assemble and disassemble computer processing unit (CPU).</h4>
            <h4>Configuring printer network.</h4>
            <h4>Network cabling and patch panel.</h4>
            <h4>Windows upgrade.</h4>
        </div>
    </div>
</div>
<div class="body-about__education">
    <div class="body-about__education__info">
        <h1>Bachelor of Science in Computer Engineering</h1>
        <h2>Cagayan State University - Carig Campus <br>
            Tuguegarao City, Cagayan <br>
            2018 - 2022</h2>
    </div>
    <img src="./assets/graduates.png" alt="Graduation Picture">
    <div class="body-about__education__quote">
        <h3>Education is the key that unlocks the doors to endless possibilities.</h3>
    </div>
</div>
<div class="body-about__proficiency">
    <h1>Proficiency</h1>
    <div>
        <img src="./assets/proficiency/HTML.png" alt="HTML">
        <img src="./assets/proficiency/CSS.png" alt="CSS">
        <img src="./assets/proficiency/JAVASCRIPT.png" alt="JavaScript">
        <img src="./assets/proficiency/MySQL.png" alt="MySQL">
        <img src="./assets/proficiency/PYTHON.png" alt="Python">
        <img src="./assets/proficiency/CSHARP.png" alt="C#">
    </div>
    <div>
        <img src="./assets/proficiency/BOOTSTRAP.png" alt="Bootstrap">
        <img src="./assets/proficiency/SASS.png" alt="SASS">
        <img src="./assets/proficiency/REACT.png" alt="React">
        <img src="./assets/proficiency/ANGULAR.png" alt="Angular">
        <img src="./assets/proficiency/VUE.png" alt="Vue">
    </div>
    <div>
        <img src="./assets/proficiency/GIT.png" alt="Git">
        <img src="./assets/proficiency/GITHUB.png" alt="GitHub">
        <img src="./assets//proficiency/VISUAL STUDIO.png" alt="Visual Studio">
        <img src="./assets/proficiency/VISUAL STUDIO CODE.png" alt="Visual Studio Code">
        <img src="./assets//proficiency/ANDROID STUDIO.png" alt="Android Studio">
    </div>
    <div>
        <img src="./assets/proficiency/FIGMA.png" alt="Figma">
        <img src="./assets/proficiency/POSTMAN.png" alt="Postman">
    </div>
</div>