<div class="header-menu--item first active" data-page="index">
    <h1> HOME </h1>
</div>
<div class="header-menu--item second" data-page="work">
    <h1> WORK </h1>
</div>
<div class="header-menu--item third" data-page="about">
    <h1> ABOUT </h1>
</div>
<div class="header-menu--item fourth" data-page="resume">
    <h1> RESUME </h1>
</div>
<script>
    $(document).ready(function () {
        var pathName = window.location.pathname.split('/');
        var currentPage = pathName.pop().replace('.html', '');

        var title = pathName.length == 1 ? '' : pathName[1];
        var url = title == 'Portfolio' ? '/Portfolio' : '';
        
        console.log("TITLE: ", title);

        $('.header-menu--item').each(function () {
            var page = $(this).data('page');

            if ((currentPage === '' && page === '') || currentPage === page) {
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
        });
    });

    $('.header-menu--item').on('click', function() {
        var page = $(this).data('page');

        window.location.href = page == 'index' ? url + '/index.html' : url + '/pages/' + page + '.html';
    });
</script>