<h1 class="header--name"> Erica Gaffud </h1>
<div class="header--button">
    <i class="fa-solid fa-bars"></i>
</div>
<div class="header--items">
    <div class="header--item active" data-page="index">
        <h1> Home </h1>
    </div>
    <div class="header--item second" data-page="work">
        <h1> Work </h1>
    </div>
    <div class="header--item third" data-page="about">
        <h1> About </h1>
    </div>
    <div class="header--item fourth" data-page="resume">
        <h1> Resume </h1>
    </div>
</div>
<script>
    $('.header--button').on('click', function(){
        $('.header-menu').css("display", "grid");
    });

    $(document).ready(function () {
        var pathSegments = window.location.pathname.split('/');
        var currentPage = pathSegments.pop().replace('.html', '');
        
        console.log("CURRENT PAGE: ", currentPage);

        $('.header--item').each(function () {
            var page = $(this).data('page');

            if ((currentPage === '' && page === '') || currentPage === page) {
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
        });
    });

    $('.header--item').on('click', function() {
        var page = $(this).data('page');
        window.location.href = page == 'index' ? '/index.html' : '/pages/' + page + '.html';
    });  
</script>