<div class="body-intro">
    <h1>Hi! I am <br> Erica Gaffud</h1>
    <h3>
        <!-- Creating responsive and 
        user-friendly web interfaces for over <span>2 years</span> as a <br> -->
        <span class="role">Software Developer</span>
        <span class="role">UI/UX Designer</span>
    </h3>
    <div class="body-intro-buttons">
        <button id="hireMe" class="primary_btn"> Hire Me </button>
        <button id="gotoWork" class="primary_link"> 
            Project
            <img src="./assets/icons/expand-icon-colored.png" alt="">
        </button>
    </div>
</div>
<div class="body-image">
    <img src="./assets/profile-picture.png" alt="Erica Gaffud profile picture">
</div>
<div class="body-footer">
    <div class="body-footer-quicklinks">
        <button id="gotoAbout" class="primary_link">
            <img src="./assets/icons/about-icon.png" alt="Know More About Me icon">
            Know More About Me
        </button>
        <button id="gotoMyWork" class="primary_link">
            <img src="./assets/icons/work-icon.png" alt="Contact icon">
            My Works
        </button>
    </div>
    <div class="body-footer-info">
        <h4>Website Design <span>21</span></h4>
        <h4>Mobile App Design <span>18</span></h4>
        <h4>Prototype <span>43</span></h4>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(document).on('click', '#hireMe', function(){
            var email = "ericadurangaffud@gmail.com";
            var subject = "Job Inquiry";
            var body = "Hello, I would like to hire you!"

            var gmailLink = `https://mail.google.com/mail/u/0/?view=cm&fs=1&to=${encodeURIComponent(email)}&su=${encodeURIComponent(subject)}&body=${encodeURIComponent(body)}`;

            setTimeout(() => {
                var newWindow = window.open(gmailLink, '_blank');
                if (!newTab || newTab.closed || typeof newTab.closed == 'undefined') { 
                    window.location.href = gmailLink;
                }
            }, 100);
        });

        $(document).on('click', '#gotoWork, #gotoMyWork', function(){
            $('.header-nav-item').removeClass('active-item');
            $('.header-nav-item[data-page="Work"]').addClass('active-item');

            $('.body, .body-about, .body-work').hide();
            $('#bodyWork').show();
        });

        $(document).on('click', '#gotoAbout', function(){
            $('.header-nav-item').removeClass('active-item');
            $('.header-nav-item[data-page="About"]').addClass('active-item');

            $('.body, .body-about, .body-work').hide();
            $('#bodyAbout').show();
        });
    });
</script>