<div class="body-work__hero">
    <div class="body-work__hero__tag">
        <h1>Creating <span>BRANDS</span> that connect & inspire</h1>
        <button id="logoButton" class="primary_btn"> 
            Logo
            <img src="./assets/icons/expand-icon.png" alt="">
        </button>
    </div>
    <img src="./assets/work/work-hero.png" alt="">
</div>
<h1 class="body-work-title">Skill-Building Projects</h1>
<div class="body-work__system">
    <div class="body-work__system--img">
        <img src="./assets/work/web-system.png" alt="">
    </div>
    <div class="body-work__system--info">
        <h3>ACCIDENT MONITORING SYSTEM</h3>
        <h3>AMS detects, monitors, and responds to accidents in real-time to enhance 
            safety by reducing response times and improving situational awareness.
        </h3>
        <h4>You can log in using the provided credentials as either a 
            user, who wears a device and is monitored by a benefactor, or as a benefactor, who monitors the user.
        </h4>
        <div>
            <div>
                <h4 class="bold">Username:</h4>
                <h4 class="font-style">guest_user<i class="fas fa-clone"></i></h4>
                <h4 class="font-style">guest_benefactor<i class="fas fa-clone"></i></h4>
            </div>
            <div>
                <h4 class="bold">Password:</h4>
                <h4 class="font-style">Accidentm0nit0ring0621!<i class="fas fa-clone"></i></h4>
            </div>
        </div>
        <button id="amsWebsiteBtn" class="primary_btn">Go to Website</button>
        <button id="amsPrototypeBtn" class="primary_btn_outline">Go to Prototype</button>
    </div>
</div>
<div class="body-work__system info-second">
    <div class="body-work__system--img">
        <img src="./assets/work/mobile-system.png" alt="">
    </div>
    <div class="body-work__system--info">
        <h3>CASH CARE</h3>
        <h3>Cash Care is a budget tracker designed to help you take charge of your finances
            with ease and confidence. It empowers you to monitor spending, set savings goals, 
            and achieve financial well-being by giving every peso a purpose.
        </h3>
        <h4>Navigate through the prototype by clicking buttons from 'Get Started', 
            menu tabs and tabs in Assets page.
        </h4>
        <button id="cashCareBtn" class="primary_btn">Go to Prototype</button>
    </div>
</div>
<div class="body-work__prototype">
<h1 class="body-work-title">Experimental Projects</h1>
    <div class="body-work__prototype--images">
        <div>
            <img src="./assets/work/card-prototype.png" data-page="omada">
            <h3>Omada</h3>
        </div>
        <div>
            <img src="./assets/work/food-galore-prototype.png" data-page="food-galore">
            <h3>Food Galore</h3>
        </div>
        <div>
            <img src="./assets/work/coffee-maker-prototype.png" data-page="coffee-maker">
            <h3>Coffee Maker</h3>
        </div>
    </div>
</div>
<div class="backdrop"></div>
<script>
    $(document).ready(function(){
        var pathName = window.location.pathname.split('/');
        var title = pathName.length == 1 ? '' : pathName[1];
        var url = title == 'Portfolio' ? '/Portfolio' : '';

        $('.body-work__prototype--images img').on('click', function(){
            var page = $(this).data('page');
            window.location.href = url + '/pages/' + page + '.html';
        });
    })
    $('#logoButton').on('click', function(){
        var pathName = window.location.pathname.split('/');
        var title = pathName.length == 1 ? '' : pathName[1];
        var url = title == 'Portfolio' ? '/Portfolio' : '';

        window.location.href = url + '/pages/logo.html';
    });

    $('#amsWebsiteBtn').on('click', function() {
        $('.backdrop').css({'display': 'flex'})
        $('.backdrop').load('./components/loader.html');

        setTimeout(() => {
            window.open('https://ericagaffud.github.io/Accident-Monitoring-System/');
            $('.backdrop').hide();
        }, 1000);
    });

    $('#amsPrototypeBtn').on('click', function() {
        $('.backdrop').css({'display': 'flex'})
        $('.backdrop').load('./components/loader.html');

        setTimeout(() => {
            window.open('https://www.figma.com/proto/bFlewnXHbnP2Jts0aVD4vj/Erica-Gaffud-IXD?node-id=90-2&node-type=frame&t=ERuC7nNVCVU5NekK-0&scaling=min-zoom&content-scaling=fixed&page-id=88%3A5&starting-point-node-id=90%3A2');
            $('.backdrop').hide();
        }, 1000);
    });

    $('#cashCareBtn').on('click', function() {$('.backdrop').css({'display': 'flex'})
        $('.backdrop').load('./components/loader.html');

        setTimeout(() => {
            window.open('https://www.figma.com/proto/MCqpAC5wzsqNDOS4LTctH1/Budget-Tracker?node-id=9-127&node-type=frame&t=uFVtb2DueBgLKhAl-0&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=3%3A41');
            $('.backdrop').hide();
        }, 1000);
    });

    $(".fa-clone").on("click", function () {
        var text = $(this).parent().text().trim();

        navigator.clipboard.writeText(text).then(() => {
            var $tooltip = $("<div class='tooltip'>Copied!</div>");
            $("body").append($tooltip);

            var offset = $(this).offset();
            $tooltip.css({
                top: offset.top - $tooltip.outerHeight() - 10,
                left: offset.left + $(this).outerWidth() / 2 - $tooltip.outerWidth() / 2
            });

            $tooltip.addClass("visible");
            setTimeout(() => {
                $tooltip.remove();
            }, 1500);
        }).catch(err => {
            console.error("Failed to copy text: ", err);
        });
    });
</script>