@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cookie&family=Julius+Sans+One&family=Petit+Formal+Script&display=swap");
:root {
  --primary-color: #060930;
  --primary-color-shade: #00021d;
  --primary-color-tint: #0b1050;
  --secondary-color: #3F0071;
  --secondary-color-shade: #2e0053;
  --secondary-color-tint: #5f04a8;
  --tertiary-color: #FB2576;
  --tertiary-color-shade: #c9004d;
  --tertiary-color-tint: #ff448b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: linear-gradient(179.75deg, #0B1050 -10.75%, #C9004D 114.81%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  width: 80vw;
  height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  cursor: pointer;
}

.primary_btn {
  background-color: var(--primary-color);
}
.primary_btn:hover {
  background-color: var(--primary-color-tint);
}

.secondary_btn {
  background-color: var(--secondary-color);
}
.secondary_btn:hover {
  background-color: var(--secondary-color-tint);
}

.tertiary_btn {
  background-color: var(--tertiary-color);
}
.tertiary_btn:hover {
  background-color: var(--tertiary-color-tint);
}

.primary_btn_outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.primary_btn_outline:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.secondary_btn_outline {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.secondary_btn_outline:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.tertiary_btn_outline {
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
}
.tertiary_btn_outline:hover {
  background-color: var(--tertiary-color);
  color: #fff;
}

.primary_link {
  text-decoration: none;
  color: var(--primary-color);
}
.primary_link:hover {
  font-weight: 800;
}

.secondary_link {
  text-decoration: none;
  color: var(--secondary-color);
}
.secondary_link:hover {
  font-weight: 800;
}

.tertiary_link {
  text-decoration: none;
  color: var(--tertiary-color);
}
.tertiary_link:hover {
  font-weight: 800;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
}
.header--name {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}
.header--button {
  font-size: clamp(0.75rem, 0.471rem + 1.626vw, 1.25rem);
}
.header--items {
  display: none;
}

.header-menu {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header-menu--item {
  width: 100vw;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-30px);
  animation: slideDown 0.6s ease forwards;
}
.header-menu--item h1 {
  color: #fff;
}
.header-menu--item:nth-child(1) {
  animation-delay: 0.1s;
}
.header-menu--item:nth-child(2) {
  animation-delay: 0.3s;
}
.header-menu--item:nth-child(3) {
  animation-delay: 0.5s;
}
.header-menu--item:nth-child(4) {
  animation-delay: 0.7s;
}
.header-menu .active {
  background-color: var(--tertiary-color-shade);
}
.header-menu .active::after {
  content: "Active";
  color: #00FF44;
  margin-top: -10px;
}
.header-menu .second {
  background-color: #FF438A;
}
.header-menu .third {
  background-color: #FF74A9;
}
.header-menu .fourth {
  background-color: #FFA6C8;
}

.ascending .header-menu--item {
  animation: ascendUp 1s ease forwards;
}
.ascending .header-menu--item:nth-child(1) {
  animation-delay: 0.7s;
}
.ascending .header-menu--item:nth-child(2) {
  animation-delay: 0.5s;
}
.ascending .header-menu--item:nth-child(3) {
  animation-delay: 0.3s;
}
.ascending .header-menu--item:nth-child(4) {
  animation-delay: 0.1s;
}

/********************END HEADER*****************/
/* Loader */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: none;
  z-index: 1000;
  align-items: center;
  justify-content: center;
}
.backdrop--content {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  font-size: clamp(0.75rem, 0.536rem + 0.446vw, 1.25rem);
}

.backdrop .show {
  display: block;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/****************END LOADER******************/
@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ascendUp {
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .header--name {
    font-size: clamp(1.5rem, -0.167rem + 2.604vw, 4rem);
  }
  .header--button {
    display: none;
  }
  .header--items {
    display: flex;
    gap: clamp(1.2rem, -1.333rem + 3.958vw, 5rem);
  }
  .header--items .header--item h1 {
    font-size: clamp(1.2rem, 0.667rem + 0.833vw, 2rem);
  }
}/*# sourceMappingURL=global.css.map */