:root {
    --primary-color: #060930;
    --primary-color-shade: #00021d;
    --primary-color-tint: #0b1050;


    --secondary-color: #3F0071;
    --secondary-color-shade: #2e0053;
    --secondary-color-tint: #5f04a8;

    --tertiary-color: #FB2576;
    --tertiary-color-shade: #c9004d;
    --tertiary-color-tint: #ff448b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(179.75deg, #0B1050 -10.75%, #C9004D 114.81%);;
}

button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;

    cursor: pointer;
}

.primary_btn {
    background-color: var(--primary-color);

    &:hover {
        background-color: var(--primary-color-tint);
    }
}

.secondary_btn {
    background-color: var(--secondary-color);

    &:hover {
        background-color: var(--secondary-color-tint);
    }
}

.tertiary_btn {
    background-color: var(--tertiary-color);

    &:hover {
        background-color: var(--tertiary-color-tint);
    }
}

.primary_btn_outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
        background-color: var(--primary-color);
        color: #fff;
    }
}

.secondary_btn_outline {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);

    &:hover {
        background-color: var(--secondary-color);
        color: #fff;
    }
}

.tertiary_btn_outline {
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);

    &:hover {
        background-color: var(--tertiary-color);
        color: #fff;
    }
}

.primary_link {
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
        font-weight: 800;
    }
}

.secondary_link {
    text-decoration: none;
    color: var(--secondary-color);

    &:hover {
        font-weight: 800;
    }
}

.tertiary_link {
    text-decoration: none;
    color: var(--tertiary-color);

    &:hover {
        font-weight: 800;
    }
}

    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    position: sticky;
    top: -40vh;
    z-index: 100;
    color: #fff;

    &--name {
        font-family: "Cookie", cursive;
        font-weight: 400;
        font-style: normal;
    }

    &--button {
            
    }
}

.header-menu {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;

    z-index: 1000;

    &--item {
        width: 100vw;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        opacity: 0;
        transform: translateY(-30px);
        animation: slideDown 0.6s ease forwards;

        h1 {
            color: #fff;
        }

        &:nth-child(1) {
            animation-delay: 0.1s;
        }
        
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
        
        &:nth-child(3) {
            animation-delay: 0.5s;
        }
        
        &:nth-child(4) {
            animation-delay: 0.7s;
        }
    }

    .active {
        background-color: var(--tertiary-color-shade);

        &::after {
            content: 'Active';
            color: #00FF44;
            margin-top: -10px;
        }
    }

    .second {
        background-color: #FF438A;
    }

    .third {
        background-color: #FF74A9;
    }

    .fourth {
        background-color: #FFA6C8;
    }

    
}

.ascending {
    .header-menu--item {
        animation: ascendUp 1s ease forwards;

        &:nth-child(1) {
            animation-delay: 0.7s;
        }
        &:nth-child(2) {
            animation-delay: 0.5s;
        }
        &:nth-child(3) {
            animation-delay: 0.3s;
        }
        &:nth-child(4) {
            animation-delay: 0.1s;
        }
    }
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ascendUp {
    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}