:root {
    --primary-color: #630000;
    --secondary-color: #D8B6A4;
    --tertiary-color: #EEEBDD;

    --accent-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.kodchasan-extralight {
  font-family: "Kodchasan", serif;
  font-weight: 200;
  font-style: normal;
}

.kodchasan-light {
  font-family: "Kodchasan", serif;
  font-weight: 300;
  font-style: normal;
}

.kodchasan-regular {
  font-family: "Kodchasan", serif;
  font-weight: 400;
  font-style: normal;
}

.kodchasan-medium {
  font-family: "Kodchasan", serif;
  font-weight: 500;
  font-style: normal;
}

.kodchasan-semibold {
  font-family: "Kodchasan", serif;
  font-weight: 600;
  font-style: normal;
}

.kodchasan-bold {
  font-family: "Kodchasan", serif;
  font-weight: 700;
  font-style: normal;
}

.kodchasan-regular-italic {
  font-family: "Kodchasan", serif;
  font-weight: 400;
  font-style: italic;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Kodchasan", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent-color);
}

body {
    overflow-x: hidden;
}

.container {
}

button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;

    cursor: pointer;
}

.primary_btn {
    background-color: var(--primary-color);

    &:hover {
        opacity: 0.98;
    }
}

.secondary_btn {
    background-color: var(--secondary-color);

    &:hover {
        background-color: var(--secondary-color-tint);
    }
}

.tertiary_btn {
    background-color: var(--tertiary-color);

    &:hover {
        background-color: var(--tertiary-color-tint);
    }
}

.primary_btn_outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
        background-color: var(--primary-color);
        color: #fff;
    }
}

.secondary_btn_outline {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);

    &:hover {
        background-color: var(--secondary-color);
        color: #fff;
    }
}

.tertiary_btn_outline {
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);

    &:hover {
        background-color: var(--tertiary-color);
        color: #fff;
    }
}

.primary_link {
    text-decoration: none;
    color: var(--primary-color);
    background-color: transparent;

    &:hover {
        font-weight: 800;
    }
}

.secondary_link {
    text-decoration: none;
    color: var(--secondary-color);

    &:hover {
        font-weight: 800;
    }
}

.tertiary_link {
    text-decoration: none;
    color: var(--tertiary-color);

    &:hover {
        font-weight: 800;
    }
}

/* Header */
.header, .header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;

    &--name {
        font-family: "Cookie", cursive;
        font-weight: 400;
        font-style: normal;

        width: clamp(9rem, 7.663rem + 7.781vw, 17rem);
    }

    &--button {
        font-size: clamp(0.75rem, 0.471rem + 1.626vw, 1.25rem);
        cursor: pointer;
    }

    &--items {
        display: none;
        cursor: pointer;

        .active {
            border-bottom: 2px solid var(--tertiary-color);
        }
    }

    &--item {
        :hover {
            transform: scale(0.96);
        }
    }

}

.page-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 5px 10px;

    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 4px 2px 4px #ffa6c8, inset 2px 2px 4px rgb(149 149 149 / 50%);
    gap: 5px;

    #backBtn {
        cursor: pointer;
    }

    div {
        text-align: center;

        .page-title {
            font-weight: 600;
            color: var(--secondary-color);
            text-transform: capitalize;
            font-size: clamp(1rem, 0.833rem + 0.973vw, 2rem);
        }
    }
}

@keyframes slideDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ascendUp {
    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}
/********************END HEADER*****************/

/* Loader */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: none;
    z-index: 1000;

    align-items: center;
    justify-content: center;

    &--content {
        background-color: #fff;
        padding: 1rem;
        border-radius: 5px;
        font-size: clamp(0.75rem, 0.536rem + 0.446vw, 1.25rem);
    }
}

.backdrop .show {
    display: block;
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/****************END LOADER******************/

/***************FIGMA IMAGE CONTAINER*************/
.container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &-image-link {
        display: flex;
        align-items: center;
        margin-block: 2rem;
        padding: 10px;
        background-color: #f6f6f6;
        text-align: center;
        overflow: hidden;

        img {
            width: 100%;
            cursor: pointer;
        }

        &__tablet {
            display: none;
        }

        &__desktop {
            display: none;
        }
    }

    &-instruction {
        color: var(--primary-color-tint);
        text-align: center;
        margin-top: 2rem;

        h4 {
            font-weight: 700;

            span {
                text-decoration: underline;
                font-weight: 900;
                cursor: pointer;

                &:hover {
                    color: var(--tertiary-color-tint);
                    text-decoration: none;
                }
            }
        }

        h6 {
            font-style: italic;
        }
    }
}

.container::-webkit-scrollbar {
    display: none;
}

/***************END FIGMA CONTAINER***************/

@media only screen and (min-width: 768px) {
    .container {
        &-image-link {
            padding: 1rem;
            &__mobile {
                display: none;
            }

            &__tablet {
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        &--button {
            display: none;
        }

        &--items {
            display: flex;
            gap: clamp(1.2rem, -1.333rem + 3.958vw, 5rem);

            .header--item {
                h1 {
                    font-size: clamp(1.2rem, 0.667rem + 0.833vw, 2rem);
                }
            }
        }
    }

    .page-header {
        padding: 1rem;
    }

    .container {
        &-image-link {
            padding: 2rem;
            &__tablet {
                display: none;
            }

            &__desktop {
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 1680px) {
    .page-header {
        padding: 1.3rem;

        div {
            .page-title {
                font-size: 1.8rem;
            }
        }
    }

    .container {
        &-instruction {
            h4 {
                font-size: 1.5rem;
            }

            h6 {
                font-size: 1.3rem;
            }
        }
    }   
}