@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Sacramento&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBB2EB;
}

.my-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.my-pic {
    width: 200px;
    display: grid;
    height: 350px;
    max-height: max-content;
    place-content: center;
    flex-wrap: wrap;
    padding: 2em 0;

    //background-color: white;
    .stack {
        position: absolute;
    }

    .first-bg {
        width: 200px;
        height: 230px;
        margin-top: -1em;
        margin-left: -1em;

        background: linear-gradient(208.97deg, #F99A9A 16.61%, #FF4DB8 60.76%);
    }

    .second-bg {
        width: 200px;
        height: 230px;
        z-index: 1;

        //background: linear-gradient(208.97deg, #F99A9A 16.61%, #FF4DB8 60.76%);
        
        img {
            width: 200px;
        }
    }

    .third-bg {
        width: 200px;
        max-width: 250px;
        height: 230px;
        max-height: 290px;
        margin-top: 2em;
        margin-left: 1em;

        background: linear-gradient(208.97deg, #F99A9A 16.61%, #FF4DB8 60.76%);
    }

    .left-big-circle {
        width: 40px;
        height: 40px;
        top: 250px;
        left: -15px;
        float: left;
        position: fixed;
        border-radius: 50%;
    
        background-color: white;
    }
    
    .left-small-circle {
        width: 20px;
        height: 20px;
        top: 350px;
        left: 50px;
        float: right;
        position: fixed;
        border-radius: 50%;
    
        background-color: white;
    }

    .left-strip {
        top: 0;
        left: 40px;
        float: right;
        height: 0px;
        width: 10px;
        position: fixed;
    
        background-color: white;
    }

    .right-strip {
        top: 0;
        right: 40px;
        float: right;
        height: 0px;
        width: 10px;
        position: fixed;
    
        background-color: white;
    }
    
    .right-big-circle {
        width: 40px;
        height: 40px;
        top: 490px;
        right: 35px;
        float: left;
        position: fixed;
        border-radius: 50%;
    
        background-color: white;
    }

    .right-small-circle {
        width: 20px;
        height: 20px;
        top: 400px;
        right: -2px;
        float: right;
        position: fixed;
        border-radius: 50%;
    
        background-color: white;
    }
}

.my-front {
    font-size: 20px;
    text-align: center;
    max-width: 600px;

    h1 {
        font-size: 5rem;
        font-family: 'Sacramento', cursive;

        span {
            font-size: 2.5rem;
            margin: -1.5rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        font-family: 'Imprima', sans-serif;
    }

    .font-awe {
        font-size: 2rem;
        margin-top: 3rem;
        padding: 0.2em;
        width: auto;
        height: 50px;
        background-color: white;
    }

    a {
        text-decoration: none;
        color: black;
        /* padding: 1em; */

        i:hover {
            transform: scale(1.2);
        }
    }
}

@media only screen and (min-width: 376px) {
    .my-container {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
        place-items: center;
        justify-content: space-around;
    }
    
    .my-pic {
        padding: 0;
        width: auto;
        place-content: center;
        flex-wrap: wrap;
        
        .first-bg, .third-bg {
            width: 250px;
            height: 290px;
        }

        .second-bg {
            width: 250px;
            height: 290px;

            img {
                width: 250px;
                opacity: 0;
            }   
        }

        .bottom-long-strip {
            bottom: 80px;
            left: 0;
            float: left;
            height: 10px;
            width: 0px;
            position: fixed;
        
            background-color: white;
        }
        
        .bottom-short-strip {
            bottom: 50px;
            left: 0;
            float: left;
            height: 10px;
            width: 0px;
            position: fixed;
        
            background-color: white;
        }
        
        .bottom-big-circle {
            width: 50px;
            height: 50px;
            bottom: -15px;
            right: 0px;
            float: right;
            position: fixed;
            border-radius: 50%;
        
            background-color: white;
        }
        
        .bottom-small-circle {
            width: 30px;
            height: 30px;
            bottom: 50px;
            right: 0px;
            float: right;
            position: fixed;
            border-radius: 50%;
        
            background-color: white;
        }

        .left-strip,
        .right-strip,
        .left-big-circle,
        .left-small-circle,
        .right-big-circle,
        .right-small-circle {
            display: none;
        }
    }

   .my-front {
    font-size: 30px;

        h1 {
            font-size: 8rem;
    
            span {
                font-size: 4rem;
            }
        }
    
        h2 {
            font-size: 2rem;
            line-height: 60px;
            font-family: 'Imprima', sans-serif;
        }
    
/*          .font-awe {
            font-size: 2rem;
            margin-top: 80px;
            width: 90%;
            height: 60px;
            background-color: white;
        } */
    
        a {
            padding: 20px;
        }

        .top-long-strip {
            top: 80px;
            right: 0;
            float: right;
            height: 10px;
            width: 0px;
            position: fixed;
        
            background-color: white;
        }
        
        .top-short-strip {
            top: 50px;
            right: 0;
            float: right;
            height: 10px;
            width: 0px;
            position: fixed;
        
            background-color: white;
                
        }
        
        .top-big-circle {
            width: 50px;
            height: 50px;
            top: -15px;
            left: 0px;
            float: left;
            position: fixed;
            border-radius: 50%;
        
            background-color: white;
        }
        
        .top-small-circle {
            width: 30px;
            height: 30px;
            top: 50px;
            left: 0px;
            float: left;
            position: fixed;
            border-radius: 50%;
        
            background-color: white;
        }
    }
}